.wrapper {
  /*background-image: url("https://rozetked.me/images/uploads/F8He7Re8tNJD.jpg");*/
  background-color: #6dc849;
}

.errorContainer {
  max-width: 1600px;
  background-color: #6dc849;
}

.error404 {
  font-weight: bold;
  font-size: 20px;
}

.errorText {
  font-weight: bold;
  font-size: 20px;
  color: white;
}